head {
    text-align: center;
    font-family: cursive;
    background-color: aqua;
    color: black;
}
body {
    text-align: right;
    border: 0;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #355E3B;
    color: #FFD700;
  }