h1 {
    text-align: center;
    font-family: cursive;
    background-color: aqua;
    color: black;
}
h2{
    text-align: center;
}
body {
    text-align: left;
    border: 0;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffce09;
    color: aqua;
  }